* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  
}
.grid-container {
  width: 100%;
  height: 200px;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    "header header header"
    "aside article article  "
    "footer footer footer";
}

.grid-item-1 {
  background-color: black;
  opacity: 70%;

  grid-area: header;
  padding: 24px;
  margin: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.grid-item-2 {
  background:linear-gradient(45deg red, blue);
  grid-area: aside;
  margin: 24px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  line-height: 34px;
}
.grid-item-2 button {
  /* color: rgb(255, 0, 166);
  background-color: lime; */
  padding: 12px 23px;
  margin: 60px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px; */
}

.grid-item-3 {

  grid-area: article;
  margin: 24px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 96px;
}
.grid-item-3 img {
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.grid-item-3 img:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: 1s;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1, 1.1);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.grid-item-4 {
  background-color: #04e762;
  grid-area: footer;
  margin: 34px;
  text-align: center;
  border-radius: 34px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  -ms-border-radius: 34px;
  -o-border-radius: 34px;
  opacity: 50%;
}

/* button */
button {
  position: relative;
  left: 54px;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #5eff00;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
}

button span {
  position: absolute;
}

button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
}

button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
}

button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
}

button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
}

button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
}

button:active
  span:nth-child(1)
  span:nth-child(2)
  span:nth-child(2)
  span:nth-child(2) {
  transition: none;
  transition-delay: none;
}
/* backround */
#c {
  position: absolute;
  top: 0px;
  height: 900px;
  z-index: -2;
  canvas {
    display: block;
  }
  body {
    background: black;
  }
}

/* header animation */
.loader {
  position: relative;
}

.loader span {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 38px;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.3px lime;
}

.loader span:nth-child(2) {
  color: lime;
  -webkit-text-stroke: 1px lime;
  animation: uiverse723 3s ease-in-out infinite;
}

@keyframes uiverse723 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      15% 44%,
      32% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      16% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* card */
.card {
  width: 250px;
  height: 300px;
  /* background: #07182E; */
  position: relative;
  left: 34px;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card img {
  z-index: 2;
  /* color: white; */
  width: 240px;
  height: 290px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card::before {
  content: "";
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 255, 4), rgb(48, 255, 86));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: "";
  position: absolute;
  background: #07182e;

  inset: 5px;
  border-radius: 15px;
}
.card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
}



p {
  position: absolute;
  top: 300px;
}

/* but */

#button {
  font-family: inherit;
  font-size: 20px;
  /* background: rgb(225, 65, 65); */
  color: white;
  padding: 23px 2333px;
  padding-left: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  position: absolute;
}

#button a {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  color: white;
  
}

#button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

#button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

#button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#button:hover a {
  transform: translateX(5em);
}

#button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


.text .p-1{
  color: lime;
  animation-timing-function:ease;
animation-direction: ;
animation-delay: 2;
 animation-duration: 244s; 
  animation-name: text;
letter-spacing: 5px;
word-spacing: 10px;
position: absolute;
top: 534px;
left: 400px;
text-align: center;

}


@keyframes text {
  from {
    transform: translateX(45px);
    -webkit-transform: translateX(45px);
    -moz-transform: translateX(45px);
    -ms-transform: translateX(45px);
    -o-transform: translateX(45px);
}

  to {
    transform: translateX(3644px);
    -webkit-transform: translateX(3644px);
    -moz-transform: translateX(3644px);
    -ms-transform: translateX(3644px);
    -o-transform: translateX(3644px);
}
}


#audio {
  overflow: hidden;
   display: none;
}